<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="connectionStringSqlServer" connectionString="Server=SURFACE;Database=musterag;User Id=admin;Password=root"/>
        <add name="connectionStringMySql" connectionString="Server=localhost;Database=musterag;Uid=root;Pwd=admin;"/>
    </connectionStrings>
</configuration>